matplotlib==3.10.6
numpy==2.2.6
pandas==2.2.3
pandas-ta-openbb==0.4.22
pyarrow==21.0.0
QuantStats==0.0.77
scikit-learn==1.7.1
scipy==1.15.3
statsmodels==0.14.5
wrds==3.4.0
yfinance==0.2.65
boto3==1.42.3
dagster-webserver==1.12.4
dagster-postgres==0.28.4
dagster-aws==0.28.4
dagster==1.12.4
ipython==8.37.0
pre-commit==4.5.0
